*.pyc
.netrwhist

" Compiled files
suckless/slock/slock
suckless/st/st
bin.homedir.nodotify/cgdb

" Compilation results
*.o
*.pyc
__pycache__
nvim.config/tt.*
nvim.config/.tests
nvim.config/doc/tags
nvim.config/debug
nvim.config/.repro
nvim.config/foo.*
nvim.config/*.log
nvim.config/data
